.margin-left-5 {
  margin-left: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-left-50pc {
  margin-left: 50% !important;
}

.editable-empty {
  color: #777 !important
}