{% extends 'base.html' %}
{% block app_content %}
<div class="col-md-12">
  <div class="row">
    <ul class="list-group">
      {% for user in users %}
        <li class="list-group-item">
          {{user.email}}
          {% if user.is_admin %}
          <span class="label label-default">Admin</span>
          {% endif %}
          {% if user.is_confirmed %}
          <a href="{{url_for('admin.unconfirmuser', uid=user.id)}}" class="label label-success">Confirmed</a>
          {% else %}
          <a href="{{url_for('admin.confirmuser', uid=user.id)}}" class="label label-warning">Unconfirmed</a>
          {% endif %}
          <div class="pull-right hidden-xs">
            <a class="btn btn-danger btn-xs margin-left-5" href="{{url_for('admin.deluser', uid=user.id)}}">Delete User</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}