{% extends 'settings.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block settings %}
<div class="row">
  <ul class="list-group">
    {% for user in list_.get_owners() %}
      <li class="list-group-item">{{user.username}} <span class="label label-primary margin-left-5">Owner</span></li>
    {% endfor %}
    {% for user in list_.get_non_owners() %}
      <li class="list-group-item">{{user.username}} <a href="{{url_for('main.drop_share', user_id=user.id, list_id=list_.id)}}" class="glyphicon glyphicon-remove text-danger pull-right"></a></li>
    {% endfor %}
  </ul>
</div>
<div class="row">
  <h4>Add share</h4>
  {{ wtf.quick_form(form, form_type="inline", button_map={'submit': 'primary'}) }}
  <br>
  {% for error in form.errors.target %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  $('#Shares').addClass('active')
  $('#DailyMeals').removeClass('active')
  $('#Foods').removeClass('active')
  $('#ListSettings').removeClass('active')
</script>
{% endblock %}