{% extends 'base.html' %}
{% block app_content %}
{% for list_ in lists %}
  <div class="col-md-6">
    <div class="row">
      <h1 class="text-center {{ "margin-left-5" if loop.index % 2 == 0 else "margin-right-5" }}"><a href="{{ url_for('main.get_list', list_id=list_.id) }}">{{list_.name}}</a></h1>
      <table class="table table-bordered {{ "margin-left-5" if loop.index % 2 == 0 else "margin-right-5" }} ">
        {% for day in list_.get_days(0,2) %}
        <tr class="active">
          <th>{{day.day.strftime('%A')}}</th>
          <th>{{day.day}}</th>
        </tr>
        {% for entry in day.get_entries() %}
        <tr>
          <td>{{entry.key}}</td>
          <td>{{entry.value}}</td>
        </tr>
        {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
{% endfor %}
<br>
<br>
<div class="col-md-12">
  <div class="row">
    <a class="btn btn-primary" href="{{url_for('main.new_list')}}">Create New List</a>
  </div>
</div>
{% endblock %}