{% extends 'base.html' %} {% block app_content %}
<div class="col-md-8">
  <div class="row">
    <table class="table table-bordered">
      {% for day in days %}
      <tr class="active">
        <th>{{ day.day.strftime('%A') }}</th>
        <th>{{ day.day }}</th>
      </tr>
      {% for meal in list_.entry_names.split(',') %} {% for entry in
      day.get_or_create_entries() %} {% if meal == entry.key %}
      <tr>
        <td>{{ meal }}</td>
        <td>
          <a href="#" id="entry_{{ entry.id }}">{{ entry.value }}</a>
        </td>
      </tr>
      {% endif %} {% endfor %} {% endfor %} {% endfor %}
    </table>
  </div>
  <div class="row">
    <a
      class="btn btn-default pull-right"
      href="{{url_for('main.settings', list_id=list_.id)}}"
      ><span class="glyphicon glyphicon-cog"></span> List Settings</a
    >
  </div>
  <br />
</div>
{% endblock %} {% block scripts %}
{{ super() }}
<link
  href="{{url_for('static', filename='bootstrap3-editable/css/bootstrap-editable.css')}}"
  rel="stylesheet"
/>
<script src="{{url_for('static', filename='bootstrap3-editable/js/bootstrap-editable.js')}}"></script>
<script>
  //turn to inline mode
  //$.fn.editable.defaults.mode = 'inline';
  {% for day in days %}
  {% for entry in day.get_or_create_entries() %}
  $('#entry_{{entry.id}}').editable({
      type: 'text',
      pk: {{entry.id}},
      url: '/api/update/{{entry.id}}',
      send: 'always',
      title: '{{day.day.strftime("%A")}} {{entry.key}}'
    });
  {% endfor %}
  {% endfor %}
</script>
{% endblock %}
