{% extends 'base.html' %}
{% block app_content %}

<div class="col-md-8">

  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation" id="ListSettings"><a href="{{url_for('main.list_settings', list_id=list_.id)}}">View</a></li>
      <li role="presentation" id="Foods" class="disabled"><a>Foods</a></li>
      <li role="presentation" id="DailyMeals" class="disabled"><a>Daily Meals</a></li>
      <!---<li role="presentation" id="Foods"><a href="{{url_for('main.list_foods', list_id=list_.id)}}">Foods</a></li>
      <li role="presentation" id="DailyMeals"><a href="{{url_for('main.list_daily_meals', list_id=list_.id)}}">Daily Meals</a></li>-->
      <li role="presentation" id="Shares"><a href="{{url_for('main.list_shares', list_id=list_.id)}}">Shares</a></li>
    </ul>
  </div>
  <br>
  {% block settings %}
  {% endblock %}
  <hr>
    <div class="row">
      <a class="btn btn-default" href="{{url_for('main.get_list', list_id=list_.id)}}">Back</a>
      {% if current_user in list_.get_owners() %}
      <a class="btn btn-danger pull-right" href="{{url_for('main.delete_list', list_id=list_.id)}}">Delete List</a>
      {% endif %}
    </div>
    <br>
</div>
{% endblock %}